@import url(https://fonts.googleleapis.com/css?family=Open+Sans:400,800,700,600,300);

.active a {
    background-color: aqua;
    border-radius: 15px;
    color: red;
}

body {
    background: rgb(221, 218, 218);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

hr {
    border: 0;
    background: #dedede;
    height: 2px;
}

header img{
    margin-top: 5px;
    border-radius: 8px;
}

header{
    text-align: center;
    color: #232323;
}

header .judul{
    font-size: 17pt;
}

header .deskripsi{
    font-size: 11pt;
}

.wrap {
    width: 950px;
    margin: 25px auto;
}
nav.menu ul {
    overflow: hidden;
    color: #fff;
    list-style: none;
    float: left;
    padding: 0px;
    width: 650px;
    margin: 0 0 0;
    background: rgb(2, 120, 150);
    -webkit-box-shadow: 1px 1px 1px 0px rgb(204,204,204,0,55);
    -moz-box-shadow: 1px 1px 1px 0px rgb(204,204,204,0,55);
    box-shadow: 5px 5px 5px 0px rgba(148, 137, 137, 0.55);
    border-radius: 15px;
    display: flex;
    font-family: 'Segoe UI' 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}

nav.menu ul li {
    margin: 15px;
    float: left;
    flex: 1;
}
nav.menu ul a {
    padding: 10px;
    display: block;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.55 ease;
    text-decoration: none;
    text-align: center;
}
.active a{
    color: red;
}
nav.menu ul a:hover {
    text-decoration: underline;
    border-radius: 15px;
    background: #ffffff;
    /*margin 0.02px;*/
    color: rgb(2, 120, 150);
}

nav.menu ul a:active {
    color: red
}

.sidebar {
    float: right;
    width: 275px;
}
.widget-pict{
    border-radius: 8px;
}
.sidebar .widget {
    padding: 25px;
    margin: 0 0 25px;
    background: #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.5s ease;
    border-radius: 15px;
    border: 1px solid rgb(10, 128, 238, 0.55);
}

.sidebar .widget:hover {
    border-bottom: 4px solid #3498db;
    box-shadow: 5px 5px 5px 0px rgb(148, 137, 137, 0.55);
}

.sidebar .widget h2 {
    padding: 0;
    margin: 0 0 15px;
    color: #3498db;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}

.sidebar .widget p:last-child {
    margin:0;
}
.blog {
    float: left;
}
.widget .faq-selengkapnya{
    color: #000;
    transition: all 0.5s ease;
    text-decoration: none;
    font-weight: 700;
}

.faq-selengkapnya:hover{
    margin-left: 10px;
}

.conteudo {
    width: 600px;
    padding: 25px;
    margin: 25px auto;
    background: #fff;
    transition: all 0.5s ease;
    border: 1px solid #dedede;
    -webkit-box-shadow: 1px 1px 1px 0px rgb(204,204,204,0.35);
    box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
    border-radius: 15px 25px;
    background-color: rgb(240, 240, 240);
}
.conteudo:hover{
    border-bottom: 4px solid #3498db;
    box-shadow: 5px 5px 5px 0px rgba(148, 137, 137, 0.55);
}
.conteudo img{
    min-width: 650px;
    margin: 0 0 25px -25px;
    max-width: 650px;
}

.conteudo h1 {
    padding: 0;
    margin: 0 0 15px;
    font-weight: normal;
    color: #666;
    font-family: Georgia;
}
.conteudo p:last-child {
    margin: 0;
}
.conteudo .conteudo-lendo {
    color: #000;
    transition: all 0.5s ease;
    text-decoration: none;
    font-weight: 700;
}
.conteudo.conteudo-lendo:hover {
    margin-left: 10px;
}

.post-info {
    float: right;
    font-size: 12px;
    margin: -10px 0 15px;
    text-transform: uppercase;
}

@media screen and (max-width: 960px) {
    .header {
        position: inherit;
    }
    .wrap {
        width: 90%;
        margin: 25px auto;
    }
    .sidebar {
        width: 100%;
        margin:25px 0 0;
        float: right;
    }
    .sidebar .widget {
        padding: 5%;
    }
    
    nav.menu ul {
        width: 100%;
    }

    nav.menu ul {
        float: inherit;
    }
    


    nav.menu ul {
        float: inherit;
        margin: 0;
    }

    nav.menu ul a {
        padding: 15px;
        font-size: 16px;
        border-top: 1px solid #1abf9f;
        border-bottom: 1px solid #16a085;
    }

    .blog {
        width: 90%;
    }

    .conteudo {
        float: inherit;
        margin: 0 auto 25px;
        width: 101%;
        border:1px solid #dedede;
        padding: 5%;
        background: #fff;
    }



    .conteudo img {
        max-width: 110%;
        margin: 0 25px -5%;
        min-width: 110%;
    }

    .conteudo .conteudo-lendo:hover {
        margin-left: 0;
    }
}

@media screen and (max-width: 460px) {

    nav.menu ul a {
        padding: 15px;
        font-size: 14px;
    }
    
    .sidebar {
        display: none;
    }
    .post-info {
        display: none;
    }
}

/* ===== FAQ / ACCORDION ===== */
.title {
    font-size: 28px;
    font-weight: 700;
    color: #3498db;
    margin-bottom: 20px;
}

.title span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: #666;
    margin-top: 5px;
}

.accordion {
    width: 100%;
    margin-top: 20px;
}

.accordion-item {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    border: 1px solid #dedede;
}

.accordion-item a {
    display: block;
    padding: 15px 20px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    background: #f2f2f2;
    transition: 0.3s;
}

.accordion-item a:hover {
    background: #3498db;
    color: #fff;
}

.accordion-item .content {
    padding: 15px 20px;
    font-size: 14px;
    line-height: 1.6;
    display: none;
    background: #fff;
}

/* aktif (dibuka) */
.accordion-item.active .content {
    display: block;
}


